#timer {
    text-align: right;
    font-family: verdana;
    padding: 10px 100px;
    margin: 24px;
}

#container {
    text-align: center;
}

#start h1,h3 {
    font-family: verdana;
    width: 50%;
    margin: auto;
    text-align: center;
}

#start button {
    padding: 8px 15px;
    margin: 24px;
    cursor: pointer;
    font-size: 20px;
    background-color: #247BA0;
    color: white;
    border-radius: 8px;
}

#start button:hover {
    background-color: #d729dd;
}

#question h1 {
    font-family: verdana;
    width: 50%;
    margin: auto;
    text-align: left;
}

.select {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 50%;
    text-align: left;
    margin: auto;
    
}

#A button {
    padding: 8px 15px;
    margin: 25px 5px 5px 5px;
    cursor: pointer;
    font-size: 16px;
    background-color: #247BA0;
    color: white;
    border-radius: 8px;
    text-align: left;
    width: 250px;
}

#B button, #C button, #D button {
    padding: 8px 15px;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
    background-color: #247BA0;
    color: white;
    border-radius: 8px;
    text-align: left;
    width: 250px;
}

#choices button:hover {
    background-color: #d729dd;
    align-items: center;
}

#result {
    font-family: verdana;
    width: 50%;
    margin: 30px auto;
    text-align: left;
    color: gray;
    font-size: x-large;
}

